*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding: 20px 100px;
}
ul li{
    list-style: none;
}
ul li img{
    max-width: 100px;
    cursor: pointer;
}
.container{
    display: flex;
}